send dhcp-client-identifier 01:{{ hostvars[inventory_hostname]['ansible_{}.{}'.format(aci_interface, infra['vlan'])]['macaddress'] }};
request subnet-mask, domain-name, domain-name-servers, host-name;
send host-name {{ ansible_hostname }};

option rfc3442-classless-static-routes code 121 = array of unsigned integer 8;
option ms-classless-static-routes code 249 = array of unsigned integer 8;
option wpad code 252 = string;

also request rfc3442-classless-static-routes;
also request ms-classless-static-routes;
also request static-routes;
also request wpad;
also request ntp-servers;
